.list {
    position: relative;
    width: 100%;
    height: 100vh;
}

.item-wrapper {
    position: absolute;
    will-change: transform, width, height, opacity;
    padding: 4px;
    /* Tighter gap */
    cursor: pointer;
    top: 0;
    left: 0;
}

.item-wrapper>.item-clipper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    /* Slightly smaller radius */
    position: relative;
}

.item-wrapper .item-img {
    position: relative;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    will-change: transform;
    /* Removed border-radius and box-shadow from here to put on clipper */
}